node_modules
.DS_Store
dist
dist-ssr
build
coverage

# TanStack/Workers local artifacts
.wrangler
.tanstack
.vinxi
.output
.nitro
__unconfig*

# Env
.env
.env.*
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
